jupyterhub==1.3.0
nbgitpuller==0.10.2

globus_sdk==1.9.0
globus-cli
minid>=2.0.0b6
globus-automate-client
globus-search-cli>=0.7.0

mdf_forge
mdf_toolbox

numpy
gitpython
boto3
pandas
plotly
tqdm>=4.19.4
notebook>=6.4.1
